<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transaction</title>
    <link rel="stylesheet" href="request.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
  </head>
  <body>


    <div class="top">
      <div class="top-left">
        <div class="py-logo2">
          <img src="Images/pyLogo2.png" alt="PY Logo" height="75px" />
        </div>
        <div class="dashboard-text">
          <h1>Transaction</h1>
        </div>
      </div>
      <div class="profile">
        <img src="Images/profile.png" alt="Profile" height="75px" />
        <p>Adrian Paul S. Orendain</p>
        <i class="fa-solid fa-caret-down"></i>
      </div>
    </div>

    <div class="container2">
      <div class="left">
        <ul>
          <a href="personal-info.html">
            <div class="personal-info">
              <i class="fa-solid fa-user"></i>
              <li>Personal Info</li>
            </div>
          </a>
          <a href="request.html">
            <div class="transactions">
              <i class="fa-solid fa-newspaper"></i>
              <li>Request</li>
            </div>
          </a>
          <a href="contacts(skilled-worker).html">
            <div class="contacts">
              <i class="fa-solid fa-phone"></i>
              <li>Contacts</li>
            </div>
          </a>
        </ul>
      </div>
      
      <div class="main-container">
        <div class="sub-container">
            <h1>Request</h1>
            <div class="carpenters">
            <table>
                <tr class="carpenters-info">
                    <th>Equipments</th>
                    <th>Details</th>
                </tr>
                <tr>
                    <td>Oxygen Tank</td>
                    <td>
                      <div class="oxygentank-details">
                        <div class="left-d">
                            <p>Purpose:</p>
                            <p>Quantity:</p>
                            <p>Reservation Date:</p>
                            <p>Starting Date:</p>
                            <p>End Date:</p>
                          </div>
                          <div class="right-d">
                            <p>--</p>
                            <p>1</p>
                            <p>June 6, 2024 - 10:00 am</p>
                            <p>June 8, 2024 - 08:53 am</p>
                            <p>June 10, 2024 - 08:53 am</p>
                          </div>
                      </div>
                      <div class="a-r">
                        <div class="approve">
                          <button>Approve</button>
                        </div>
                        <div class="reject">
                          <button>Reject</button>
                        </div>
                      </div>
                    </td>
                </tr>
                <tr>
                    <td>Monoblock Chair</td>
                    <td>
                      <div class="mc-details">
                        <div class="left-d">
                            <p>Purpose:</p>
                            <p>Quantity:</p>
                            <p>Reservation Date:</p>
                            <p>Starting Date:</p>
                            <p>End Date:</p>
                          </div>
                          <div class="right-d">
                            <p>--</p>
                            <p>80</p>
                            <p>June 6, 2024 - 10:00 am</p>
                            <p>June 8, 2024 - 08:53 am</p>
                            <p>June 10, 2024 - 08:53 am</p>
                          </div>
                      </div>
                      <div class="a-r">
                        <div class="approve">
                          <button>Approve</button>
                        </div>
                        <div class="reject">
                          <button>Reject</button>
                        </div>
                      </div>
                    </td>
                </tr>
                <tr>
                    <td>Basketball Court</td>
                    <td>
                      <div class="bc-details">
                        <div class="left-d">
                            <p>Purpose:</p>
                            <p>Reservation Date:</p>
                            <p>Starting Date:</p>
                            <p>End Date:</p>
                          </div>
                          <div class="right-d">
                            <p>--</p>
                            <p>June 6, 2024 - 10:00 am</p>
                            <p>June 8, 2024 - 08:53 am</p>
                            <p>June 10, 2024 - 08:53 am</p>
                          </div>
                      </div>
                      <div class="a-r">
                        <div class="approve">
                          <button>Approve</button>
                        </div>
                        <div class="reject">
                          <button>Reject</button>
                        </div>
                      </div>
                    </td>
                </tr>
            </table>
        </div>
        
        </div>
      </div>

  </body>
</html>
