<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PY SERVES</title>
    <link rel="stylesheet" href="./login-page.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
  </head>

  <body>

    <div class="container">
        <div class="back-button">
            <a href="">
                <button class="back1">
                    <i class="fa-solid fa-arrow-left"></i>
                    Back
                  </button>
            </a>
          </div>
      
          <div class="brgy-py">
            <div class="py-images">
              <div class="py-logo">
                <img src="../pyLogo.png" alt="PY logo" width="150px" /><!--ayusin yung image dito -->
              </div>
              <div class="py-serves">
                <img src="/pyServes.png" alt="PY servers" width="350px" /> <!--ayusin yung image dito -->
              </div>
            </div>
      
            <div class="user-login">
              <div class="user-input">
                <h1>Hi, ka-Barangay PY!</h1>
                <p>Log in</p>
                
                <form action="/" method="POST">
                  <input type="email" name="reg_useremail" placeholder="username" required>
                  <input type="password" name="reg_userpassword" placeholder="password" required>
                  <input type="submit" value="login"> <!-- Changed from `button` to `submit` -->
                </form>

                <a href="/sign-up"><button>sign-up</button></a>
                
            

  </body>
</html>
